{% extends "account/base.html" %}

{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="flex flex-col items-center justify-center mx-auto lg:py-0">
    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
            {% trans "Sign Up" %}</h1>

        <p class="text-sm font-light text-gray-500 dark:text-gray-400">{% blocktrans %}Already have an account? Then
            please
            <a href="{{ login_url }}" class="font-medium text-primary-600 hover:underline dark:text-primary-500">sign
                in</a>.{% endblocktrans %}
        </p>

        <form class="space-y-4 md:space-y-6" id="signup_form" method="POST" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{% url 'add_user' %}" />
            {% endif %}
            <button
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                type="submit">
                {% trans "Sign Up" %} &raquo;</button>
        </form>
    </div>
</div>


{% endblock %}